### ignore everything but descend into directories
*
!*/

### allow files of this type in all subdirectories
!/**/.gitignore
!/**/*.ini
!/**/*.tex
!/**/*.sty
!/**/*.cls
!/**/*.bib
!/**/*.py
!/**/*.m

### allow these files only in the current directory
!Readme.md
!resources/

## explicitly exclude 
/**/bld/
/**/build/
/**/.search_index/
